h1,
h2 {
  margin: 5px 5px 5px 20px;
  text-align: center;
}
h1 {
  font-size: 55px !important;
}
ul {
  text-align: center;
  list-style: none;
}
li {
  list-style: none;
  text-align: center;
}
.container {
  color: black;
  font-family: "Montserrat", sans-serif;
}
.box {
  border: 2px solid #ff50bf;
  max-width: 650px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background-image: url(pinkclouds.png);
  background-position: center;
}

.mainTemperature {
  font-size: 40px;
}
.icon {
  font-size: 55px;
}
.day {
  font-weight: bold;
  font-size: 15px;
}
.col {
  transition: all 200ms ease-in-out;
  text-align: center;
}
.tempType {
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}

button {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #4f4f4f;
}

button :hover {
  color: #4f4f4f;
}
