h1,
h2 {
  margin: 5px 5px 5px 20px;
}
h1 {
  font-size: 55px !important;
}

li {
  list-style: none;
}

button {
  margin: 2px;
  border-radius: 2px;
  border: 1px solid #4f4f4f;
}

button :hover {
  color: #4f4f4f;
}
.container {
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.box {
  border: 2px solid #ff50bf;
  max-width: 650px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background-image: url(pinkclouds.png);
  background-position: center;
}

.mainTemperature {
  font-size: 40px;
}
.icon {
  font-size: 55px;
}
.day {
  font-weight: bold;
  font-size: 15px;
}

.tempType {
  font-size: 16px;
  position: relative;
  top: -15px;
}

.celsius,
.fahrenheit,
.link {
  text-decoration: none;
  color: #484649;
}
